.rw-conversation-container .rw-response {
    font-size: 8px;
    font-style: normal;
    /* color:green;
    font-style: italic; */
    }

.rw-conversation-container .rw-client {
    font-size: 8px;
    font-style: normal;
    /* color:green;
    font-style: italic; */
    }